.sidebarOption {
  display: flex;
  align-items: center;
  color: gray;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;

  &:hover {
    color: #fff;
  }

  &__icon {
    padding: 0 10px;
  }

  span {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
  }
}