.body {
  flex: 1;
  background: linear-gradient(rgb(91, 87, 115), rgba(0,0,0,1));
  padding: 30px;
  overflow-y: auto;
  height: 100vh;

  &::-webkit-scrollbar {
    display: none;
  }

  &__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;

    img {
      height: 20vh;
      margin: 0 20px;
      box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    }
  }

  &__infoText {
    flex: 1;

    h2 {
      font-size: 48px;
      margin-bottom: 10px;
    }

    span {
      font-size: 14px;
    }
  }

  &__songs {
    margin: 20px -30px;
  }

  &__icons {
    display: flex;
    align-items: center;

    .MuiSvgIcon-root {
      margin-right: 20px;
    }
  }

  &__shuffle {
    font-size: 80px !important;
    margin: 20px 0 20px 50px;

    &:hover {
      transition: transform 100ms ease-in;
      transform: scale(1.08);
    }
  }
}