.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 98%;
  padding: 20px;
  background-color: #282828;

  &__left {
    flex: 0.3;
    display: flex;
    align-items: center;

    .footer__albumLogo {
      width: 60px;
      height: 60px;
      object-fit: contain;
      margin-right: 20px;
    }

    .footer__songInfo {
      h4 {
        margin-bottom: 5px;
      }

      span {
        font-size: 12px;
      }
    }
  }

  &__center {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    max-width: 300px;
  }

  &__right {
    flex: 0.3;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;  
  }

  &__green {
    color: #1ed15e;
  }

  &__icon:hover, &__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
  }
}